## Luftdata med kartor

Simon Winter, Infontology http://infontology.org



I den här lektionen ska vi se hur man kan hitta data för luftföroreningar från det nätverk av sammankopplade sensorer som finns på Luftdata.se

In [2]:
import requests
import pandas as pd
import gmaps
from credentials import key

In [3]:
# https://console.developers.google.com/apis/dashboard?project=natural-furnace-264420
gmaps.configure(api_key=key)

In [4]:
latitude = '55.611437'
longitude = '12.994264'
distance = '2' # Avstånd i kilometer

Med hjälp av koordinaterna så skapar vi urlen. Lämna tomma platser inom {} i textsträngen, och ge variabelnamnen i format-parentesen

In [5]:
url = 'http://api.luftdaten.info/v1/filter/area={},{},{}'.format(latitude, longitude, distance)
url ## Om man ger ett variabelnamn på sista raden av en cell skrivs värdet ut. Det går också att göra print(url)

'http://api.luftdaten.info/v1/filter/area=55.611437,12.994264,2'

Requests-biblioteket gör det lätt att hantera frågor till servern.

In [6]:
response = requests.get(url)

In [7]:
sensors = response.json()
number_of_sensors = len(sensors)
number_of_sensors

8

Om number_of_sensors är större än 0 så finns det sensorer i listan. Då kan man få fram sensorvärdena på olika sätt. Det första värdet ligger alltid i sensors[0]

In [19]:
def create_sensordict (sensor):
    sensordict = {}
    sensordict['longitude'] = sensor['location']['longitude']
    sensordict['latitude'] = sensor['location']['latitude']
    for stype in sensor['sensordatavalues']:
        sensordict[stype['value_type']] = stype['value']
    return sensordict

In [30]:
for sensor in sensors:
    sens.append (create_sensordict(sensor), ignore_index=True)

In [31]:
sens

  longitude latitude
0    13.024   55.606
1    13.024   55.606
2    12.998   55.606
3    13.024   55.606
4    13.024   55.606
5    12.998   55.606
6    13.024   55.606
7    13.024   55.606

In [16]:
sensordict

{'longitude': '13.024', 'latitude': '55.606', 'P1': '1.50', 'P2': '1.40'}

In [21]:
sensframe = pd.DataFrame()

In [ ]:
sensframe.append()

In [26]:
longitudes = [sensor['location']['longitude'] for sensor in sensors]
latitudes = [sensor['location']['latitude'] for sensor in sensors]

In [27]:
sens = pd.DataFrame(data=longitudes, columns = ['longitude'] )

In [28]:
sens['latitude'] = latitudes

In [29]:
sens

  longitude latitude
0    13.024   55.606
1    13.024   55.606
2    12.998   55.606
3    13.024   55.606
4    13.024   55.606
5    12.998   55.606
6    13.024   55.606
7    13.024   55.606

In [23]:
df.latitude = [sensor['location']['latitude'] for sensor in sensors]

In [27]:
df

pandas.core.frame.DataFrame

In [41]:
def get_values (sensor):
    for stype in sensor['sensordatavalues']:
        print (stype['value_type'], stype['value'])

In [43]:
get_values(sensors[0])

temperature 7.86
pressure 101336.69
humidity 78.45
pressure_at_sealevel 101437.74

In [6]:
sensors[0]

{'sampling_rate': None,
 'location': {'country': 'SE',
  'altitude': '8.2',
  'id': 8180,
  'indoor': 0,
  'exact_location': 0,
  'longitude': '13.024',
  'latitude': '55.606'},
 'sensordatavalues': [{'value_type': 'temperature',
   'id': 12788794817,
   'value': '7.86'},
  {'value_type': 'pressure', 'id': 12788794818, 'value': '101336.69'},
  {'value_type': 'humidity', 'id': 12788794820, 'value': '78.45'},
  {'value_type': 'pressure_at_sealevel', 'value': 101437.74}],
 'id': 6019977378,
 'timestamp': '2020-01-09 10:48:53',
 'sensor': {'sensor_type': {'name': 'BME280',
   'id': 17,
   'manufacturer': 'Bosch'},
  'id': 16150,
  'pin': '11'}}

Själva värdena ligger i sensordatavalues

In [7]:
sensors[0]['sensordatavalues']

[{'value_type': 'temperature', 'id': 12788794817, 'value': '7.86'},
 {'value_type': 'pressure', 'id': 12788794818, 'value': '101336.69'},
 {'value_type': 'humidity', 'id': 12788794820, 'value': '78.45'},
 {'value_type': 'pressure_at_sealevel', 'value': 101437.74}]

Det finns olika typer av värden:

* P1 är PM10, alltså partiklar mindre än 10 mikrometer
* P2 är PM2.5, alltså partiklar mindre än 2,5 mikrometer
* temperature är temperatur
* humidity är luftfuktighet
* pressure är lufttryck

Man kan loopa genom sensorvärdena på olika sätt, exempelvis så här:

In [81]:
for sensor in sensors:
    print ('Sensorvärden:')
    for value in sensor['sensordatavalues']:
        print (value)
    print ('\n')

Sensorvärden:
{'id': 7812380304, 'value_type': 'P1', 'value': '15.43'}
{'id': 7812380306, 'value_type': 'P2', 'value': '12.17'}


Sensorvärden:
{'id': 7812380431, 'value_type': 'humidity', 'value': '62.57'}
{'id': 7812380432, 'value_type': 'pressure', 'value': '100727.06'}
{'id': 7812380430, 'value_type': 'temperature', 'value': '20.91'}
{'value_type': 'pressure_at_sealevel', 'value': 100823.04}


Sensorvärden:
{'id': 7812394835, 'value_type': 'P1', 'value': '14.68'}
{'id': 7812394837, 'value_type': 'P2', 'value': '12.25'}


Sensorvärden:
{'id': 7812414393, 'value_type': 'P1', 'value': '18.17'}
{'id': 7812414394, 'value_type': 'P2', 'value': '12.43'}


Sensorvärden:
{'id': 7812414500, 'value_type': 'humidity', 'value': '62.53'}
{'id': 7812414501, 'value_type': 'pressure', 'value': '100717.98'}
{'id': 7812414499, 'value_type': 'temperature', 'value': '20.87'}
{'value_type': 'pressure_at_sealevel', 'value': 100813.96}


Sensorvärden:
{'id': 7812429027, 'value_type': 'P1', 'value': '17.07'}
{'id': 7812429028, 'value_type': 'P2', 'value': '13.03'}

In [14]:
fig = gmaps.figure()
#fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))
fig

Figure(layout=FigureLayout(height='420px'))