## Luftdata med kartor

Simon Winter, Infontology http://infontology.org



I den här lektionen ska vi se hur man kan hitta data för luftföroreningar från det nätverk av sammankopplade sensorer som finns på Luftdata.se

In [1]:
import requests
import pandas as pd
import gmaps
from credentials import key

/Users/management/.local/lib/python3.7/site-packages/requests/__init__.py:91: RequestsDependencyWarning: urllib3 (1.25.7) or chardet (3.0.4) doesn't match a supported version!
  RequestsDependencyWarning)

In [2]:
# https://console.developers.google.com/apis/dashboard?project=natural-furnace-264420
gmaps.configure(api_key=key)

In [50]:
latitude = '55.611437'
longitude = '12.994264'
distance = '10' # Avstånd i kilometer

Med hjälp av koordinaterna så skapar vi urlen. Lämna tomma platser inom {} i textsträngen, och ge variabelnamnen i format-parentesen

In [51]:
url = 'http://api.luftdaten.info/v1/filter/area={},{},{}'.format(latitude, longitude, distance)
url ## Om man ger ett variabelnamn på sista raden av en cell skrivs värdet ut. Det går också att göra print(url)

'http://api.luftdaten.info/v1/filter/area=55.611437,12.994264,10'

Requests-biblioteket gör det lätt att hantera frågor till servern.

In [52]:
response = requests.get(url)

In [53]:
sensors = response.json()
number_of_sensors = len(sensors)
number_of_sensors

20

Om number_of_sensors är större än 0 så finns det sensorer i listan. Då kan man få fram sensorvärdena på olika sätt. Det första värdet ligger alltid i sensors[0]

In [54]:
sens2 = pd.DataFrame(columns=['latitude', 'longitude'])

In [55]:
sens2

Empty DataFrame
Columns: [latitude, longitude]
Index: []

In [56]:
def create_sensordict (sensor):
    sensordict = {}
    sensordict['longitude'] = sensor['location']['longitude']
    sensordict['latitude'] = sensor['location']['latitude']
    for stype in sensor['sensordatavalues']:
        sensordict[stype['value_type']] = stype['value']
    return sensordict

In [57]:
for sensor in sensors:
    sens2 = sens2.append (create_sensordict(sensor), ignore_index=True)

In [58]:
sens2

,latitude,longitude,humidity,pressure,pressure_at_sealevel,temperature,P1,P2
0,55.606,13.024,81.28,100711.59,100811.71,8.70,NaN,NaN
1,55.606,13.024,NaN,NaN,NaN,NaN,4.50,2.70
2,55.662,13.114,NaN,NaN,NaN,NaN,3.13,1.40
3,55.578,12.968,99.90,NaN,NaN,8.20,NaN,NaN
4,55.578,12.968,NaN,NaN,NaN,NaN,11.20,5.30
5,55.606,12.998,86.80,NaN,NaN,7.70,NaN,NaN
6,55.606,12.998,NaN,NaN,NaN,NaN,4.17,3.50
7,55.53,12.932,NaN,NaN,NaN,NaN,37.42,10.13
8,55.674,13.074,NaN,NaN,NaN,NaN,1.77,1.00
9,55.606,13.024,81.24,100716.31,100816.45,8.68,NaN,NaN
10,55.606,13.024,NaN,NaN,NaN,NaN,3.33,2.83
11,55.662,13.114,NaN,NaN,NaN,NaN,1.23,1.00
12,55.578,12.968,99.90,NaN,NaN,8.20,NaN,NaN
13,55.578,12.968,NaN,NaN,NaN,NaN,8.80,5.03
14,55.53,12.932,NaN,NaN,NaN,NaN,32.00,8.88
15,55.606,12.998,86.70,NaN,NaN,7.60,NaN,NaN
16,55.606,12.998,NaN,NaN,NaN,NaN,5.20,4.40
17,55.674,13.074,NaN,NaN,NaN,NaN,2.80,1.65
18,55.606,13.024,81.22,100718.31,100818.45,8.66,NaN,NaN
19,55.606,13.024,NaN,NaN,NaN,NaN,3.20,2.60

In [66]:
humid_values = sens2[sens2['humidity'].notnull()]

In [67]:
humid_values['humidity']

0     81.28
3     99.90
5     86.80
9     81.24
12    99.90
15    86.70
18    81.22
Name: humidity, dtype: float64

In [61]:
sens2 = sens2.astype('float')

In [62]:
sens2.dtypes

latitude                float64
longitude               float64
humidity                float64
pressure                float64
pressure_at_sealevel    float64
temperature             float64
P1                      float64
P2                      float64
dtype: object

In [69]:
locations = humid_values[['latitude', 'longitude']]
weights = humid_values['humidity']

In [70]:
locations

    latitude  longitude
0     55.606     13.024
3     55.578     12.968
5     55.606     12.998
9     55.606     13.024
12    55.578     12.968
15    55.606     12.998
18    55.606     13.024

In [71]:
fig = gmaps.figure()
heatmap_layer = gmaps.heatmap_layer(locations, weights=weights)
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
sensframe = pd.DataFrame()

In [ ]:
sensframe.append()

In [11]:
longitudes = [sensor['location']['longitude'] for sensor in sensors]
latitudes = [sensor['location']['latitude'] for sensor in sensors]

In [12]:
sens = pd.DataFrame(data=longitudes, columns = ['longitude'] )

In [13]:
sens['latitude'] = latitudes

In [14]:
sens

  longitude latitude
0    13.024   55.606
1    13.024   55.606
2    13.024   55.606
3    13.024   55.606
4    12.998   55.606
5    12.998   55.606
6    13.024   55.606

In [20]:
sens2.append({'longitude': '13.024', 'latitude': '55.606', 'temperature': '8.33', 'pressure': '100784.44', 'humidity': '80.79', 'pressure_at_sealevel': 100884.77}, ignore_index=True)

  latitude longitude humidity   pressure  pressure_at_sealevel temperature
0   55.606    13.024    80.79  100784.44             100884.77        8.33

In [23]:
df.latitude = [sensor['location']['latitude'] for sensor in sensors]

In [27]:
df

pandas.core.frame.DataFrame

In [41]:
def get_values (sensor):
    for stype in sensor['sensordatavalues']:
        print (stype['value_type'], stype['value'])

In [43]:
get_values(sensors[0])

temperature 7.86
pressure 101336.69
humidity 78.45
pressure_at_sealevel 101437.74

In [6]:
sensors[0]

{'sampling_rate': None,
 'location': {'country': 'SE',
  'altitude': '8.2',
  'id': 8180,
  'indoor': 0,
  'exact_location': 0,
  'longitude': '13.024',
  'latitude': '55.606'},
 'sensordatavalues': [{'value_type': 'temperature',
   'id': 12788794817,
   'value': '7.86'},
  {'value_type': 'pressure', 'id': 12788794818, 'value': '101336.69'},
  {'value_type': 'humidity', 'id': 12788794820, 'value': '78.45'},
  {'value_type': 'pressure_at_sealevel', 'value': 101437.74}],
 'id': 6019977378,
 'timestamp': '2020-01-09 10:48:53',
 'sensor': {'sensor_type': {'name': 'BME280',
   'id': 17,
   'manufacturer': 'Bosch'},
  'id': 16150,
  'pin': '11'}}

Själva värdena ligger i sensordatavalues

In [7]:
sensors[0]['sensordatavalues']

[{'value_type': 'temperature', 'id': 12788794817, 'value': '7.86'},
 {'value_type': 'pressure', 'id': 12788794818, 'value': '101336.69'},
 {'value_type': 'humidity', 'id': 12788794820, 'value': '78.45'},
 {'value_type': 'pressure_at_sealevel', 'value': 101437.74}]

Det finns olika typer av värden:

* P1 är PM10, alltså partiklar mindre än 10 mikrometer
* P2 är PM2.5, alltså partiklar mindre än 2,5 mikrometer
* temperature är temperatur
* humidity är luftfuktighet
* pressure är lufttryck

Man kan loopa genom sensorvärdena på olika sätt, exempelvis så här:

In [81]:
for sensor in sensors:
    print ('Sensorvärden:')
    for value in sensor['sensordatavalues']:
        print (value)
    print ('\n')

Sensorvärden:
{'id': 7812380304, 'value_type': 'P1', 'value': '15.43'}
{'id': 7812380306, 'value_type': 'P2', 'value': '12.17'}


Sensorvärden:
{'id': 7812380431, 'value_type': 'humidity', 'value': '62.57'}
{'id': 7812380432, 'value_type': 'pressure', 'value': '100727.06'}
{'id': 7812380430, 'value_type': 'temperature', 'value': '20.91'}
{'value_type': 'pressure_at_sealevel', 'value': 100823.04}


Sensorvärden:
{'id': 7812394835, 'value_type': 'P1', 'value': '14.68'}
{'id': 7812394837, 'value_type': 'P2', 'value': '12.25'}


Sensorvärden:
{'id': 7812414393, 'value_type': 'P1', 'value': '18.17'}
{'id': 7812414394, 'value_type': 'P2', 'value': '12.43'}


Sensorvärden:
{'id': 7812414500, 'value_type': 'humidity', 'value': '62.53'}
{'id': 7812414501, 'value_type': 'pressure', 'value': '100717.98'}
{'id': 7812414499, 'value_type': 'temperature', 'value': '20.87'}
{'value_type': 'pressure_at_sealevel', 'value': 100813.96}


Sensorvärden:
{'id': 7812429027, 'value_type': 'P1', 'value': '17.07'}
{'id': 7812429028, 'value_type': 'P2', 'value': '13.03'}

In [14]:
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))
fig

Figure(layout=FigureLayout(height='420px'))